[core]
  commentChar = ";"
  excludesfile = ~/.gitignore_global
[user]
	email = pasi.bergman@hiq.fi
	name = Pasi Bergman
[pull]
  rebase = true
[color]
  ui = auto
[difftool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[diff]
  tool = nvimdiff
  guitool = nvimdiff
[mergetool "nvimmerge"]
  cmd = nvim -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[mergetool]
	prompt = false
[merge]
	tool = vimdiff
    guitool = nvimmerge
	conflictStyle = diff3
[difftool]
	prompt = false
[rerere]
	enabled = true
	autoupdate = true
[init]
	defaultBranch = main
[mergetool "vimdiff"]
  path = lvim
[include]
  path = ~/.config/delta/themes.gitconfig
[delta]
  features = chameleon
  # features = zebra-dark
  # features = villsau
