[core]
    commentChar = ";"
[user]
    email = pasi.bergman@iki.fi
    name = Pasi Bergman
[pull]
    rebase = true
[color]
    ui = auto
[difftool "nvimdiff"]
    cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[diff]
    tool = nvimdiff
    guitool = nvimdiff
[mergetool "nvimmerge"]
    cmd = nvim -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[mergetool]
	prompt = false
[merge]
    tool = nvimmerge
    guitool = nvimmerge
	conflictStyle = diff3
[difftool]
	prompt = false
[rerere]
	enabled = true
	autoupdate = true
